<% layout('/layout/bolierplate') %>

     <body>
          <div class="row">
               <div class="col-8 offset-2">
                    <h1 class="mt-1"> Edit a Form</h1>

                    <form action="/listings/<%= listing.id%>?_method=PUT" method="post">
                         <div class="mb-3">
                              <label for="title" class="form-label">Title</label>
                              <input type="text" class="form-control" value="<%= listing.title %>"
                                   name="listing[title] ">
                         </div>
                         <div class="mb-3">
                              <label for="description" class="form-label">Description</label><br>
                              <textarea name="listing[description] class=" form-control" style="width: 100%;">
                                   <%= listing.description %></textarea>
                         </div>

                         <div class="mb-3">
                              <label for="image" class="form-label">Image Link</label>
                              <input type="text" class="form-control" value="<%= listing.image.url %>"
                                   name="listing[image]">
                         </div>
                         <div class="row">
                              <div class="mb-3 col-md-4">
                                   <label for="price" class="form-label">Price</label>
                                   <input type="text" class="form-control" value="<%= listing.price %>"
                                        name="listing[price]">
                              </div>
                              <div class="mb-3 col-md-8">
                                   <label for="country" class="form-label">Country</label>
                                   <input type="text" class="form-control" value="<%= listing.country %>"
                                        name="listing[country]">
                              </div>
                         </div>
                         <div class="mb-3">
                              <label for="location" class="form-label">Location</label>
                              <input type="text" class="form-control" value="<%= listing.location %>"
                                   name="listing[location]">

                         </div>

                         <button class="btn btn-dark edit-btn mt-3 mb-3 ">Add</button>
                    </form>
               </div>
          </div>
     </body>